.card {
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  padding: 0.5rem;
  display: flex;

  flex-direction: column;
  width: 95%;

  /* max-width: 20rem; */
}

.applicationTitle {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.tagsHeader {
  /* margin-bottom: 1rem; */
}

.deleteButton {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

@media (min-width: 375px) {
  .deleteButton {
    justify-content: right;
  }
}

/* @media (min-width: 375px) {
  .card {
    min-height: 30rem;
    margin: 2rem 0;
    padding: 1rem;
  }
} */
