.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
}

.formButton {
  display: flex;
  justify-content: center;
}

.formButtonHide {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formBody {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-bottom: 2rem;
}

.tagsLabel {
  margin-bottom: 1rem;
}

.formTagsContainer {
  display: flex;
  flex-direction: column;
}

.formTags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tagSpace {
  margin-bottom: 1rem;
}

.addTagButton {
  display: flex;
  justify-content: right;
}

.removeButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

@media (min-width: 375px) {
  .formBody {
    margin-bottom: 5rem;
  }

  .formButton {
    justify-content: right;
  }
  .formButtonHide {
    justify-content: right;
  }

  .submitButton {
    position: absolute;
    bottom: 1rem;
    right: 1.6rem;
  }
}
