.tagContainer {
  font-size: 12px;
  display: inline;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-line;
  border: 1px solid lightgray;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
