.mainContainer {
  padding: 0.5rem 1rem;
  border: 1px lightgrey;
  border-radius: 8px;
  background-color: transparent;
  font-size: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 0.8s;
  font-weight: 600;
}

.mainContainer:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.8s;
}

.tagForm {
  display: flex;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}

.red {
  color: red;
}

@media (min-width: 375px) {
  .mainContainer {
    /* padding: 1rem 2rem; */
    margin-bottom: 1rem;
  }
  .displayForm {
    margin-bottom: 0rem;
  }
}
