.headerMainContainer {
  /* display: flex; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 16px;
  margin: 0;
}

.vacancyTitle,
.pageTitle {
  font-size: 22px;
  margin: 0.5rem 0 1.5rem;
}

.tagsHeader {
  margin-bottom: 5px;
}

.externalDiv {
}

/* reference: remove automatic styling
text-decoration: none;
color: inherit;
cursor: pointer; */
