.cardSection {
  border: 1px solid red;

  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) {
  .cardSection {
  }
}

@media (min-width: 765px) {
  .cardSection {
    margin: 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
