.main {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.6rem 0;
}

.cardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
}

.formButton {
  display: flex;
  justify-content: center;
}

.formButtonHide {
  margin-bottom: 1rem;
}

.formBody {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-bottom: 2rem;
}

.formTagsContainer {
  display: flex;
  flex-direction: column;
}

.formTags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.addTagButton {
  display: flex;
  justify-content: right;
}

.removeButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

@media (min-width: 375px) {
  .formBody {
    margin-bottom: 5rem;
  }

  .formButton {
    justify-content: right;
  }
  .formButtonHide {
    display: flex;
    justify-content: right;
  }

  .submitButton {
    position: absolute;
    bottom: 1rem;
    right: 1.6rem;
  }
}

@media (min-width: 765px) {
  .cardSection {
    margin: 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
