.main {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.6rem 0;
}

.cardSection {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.formBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-bottom: 2rem;
  /* max-width: 20rem; */
}

@media (min-width: 375px) {
  .cardSection {
  }
}

@media (min-width: 765px) {
  .cardSection {
    margin: 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 2rem;
  }
}
